<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BackTestingInterface.Properties.Settings.qaiConnectionString"
            connectionString="Data Source=hkptrqadb01;Initial Catalog=qai;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BackTestingInterface.Properties.Settings.BloombergConnectionString"
            connectionString="Data Source=mnqsql02;Initial Catalog=Bloomberg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>