<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="MarketDataConnectionString"
      connectionString="Data Source=LYNX-NOTEBOOK\SQLEXPRESS;Initial Catalog=MarketData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="TDX export base folder" value="C:\\new_tdx\\vipdoc\\"/>
    <add key="Auto fill work base folder" />
  </appSettings>
</configuration>